@media (max-width: 991px){
    .center{
        text-align: center;
    }
    .prisign h1 {
        font-size: 30px;
    }
    .prisign h6 {
        font-size: 15.6px;
    }
    .prisgn-item a {
        padding: 7px 22px;
        font-size: 15px;
        margin-bottom: 25px;
    }
    .prisgn-item h5 {
        font-size: 15px;
        padding: 8px 0 !important;
    }


    .clint-item img {
        width: 79px;
    }
    .clint-item h6 {
        font-size: 13px;
    }
    .clint-item h5 {
        margin-top: -61px;
        font-size: 19px;
        margin-bottom: 13px;
    }
    .clint-item p {
        font-size: 11px;
        margin: 12px 0;
    }

}
@media (max-width: 765px){
    .banner-content {
        margin-right: 0;
        margin-top: 0;
    }
    .banner-content p {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .banner-area {
        padding: 41px 0;
    }

    .about-content {
        margin-top: 25px;
    }
    .about-content{
        text-align: center;
        margin-left: 0;
    }


    .count {
        padding: 37px 0 !important;
    }
  


    .prisgn-item a {
        padding: 10px 25px;
        font-size: 18px;
    }
    .prisgn-item h5 {
        font-size: 18px;
        padding: 20px 0 !important;
    }


    .clint-item p {
        font-size: 16px;
        width: 60%;
        margin: 15px auto;
    }
    .clint-item h6 {
        font-size: 15px;
    }
    .clint-item h5 {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .marjin-top{
        margin-top: 30px;
    }


    .contact-area h6 {
        font-size: 16.4px;
    }
    .contact-area h1 {
        font-size: 27px;
    }

    .contact-form input, textarea {
        font-size: 14px !important;
    }
    .contact .card-body {
        padding: 0 !important;
    }
    .contact-text h2 {
        font-size: 24px;
        margin-bottom: 19px;
    }
    .contact-text h4 {
        font-size: 13px;
    }
}
@media (max-width: 578px){
    .banner-area img {
        height: 440px;
        margin-left: 0px;
    }
    .count p {
        margin-bottom: 38px;
    }

    .prisgn-item{
        margin-bottom: 20px;
    }

    .clint-item p {
        width: 70%;
    }
    .marjin-top   {
        margin-top: 113px;
    }
    .m-top {
        margin-top: 113px;
    }
    .contact-text {
        margin-top: 48px;
        margin-left: 0;
    }
    .contact-text h4 {
        font-size: 18px;
    }
    .contact-text h2 {
        font-size: 28px;
    }
    .contact-form input, textarea {
        font-size: 18px !important;
    }
}
@media (max-width: 480px){
    .about-content p {
        font-size: 12px;
    }
    .about-content h6 {
        font-size: 14px;
    }
    .about-content h1 {
        font-size: 30px;
        margin-bottom: 14px !important;
    }
    .prisign h1 {
        font-size: 28px;
    }
    .clint-item img {
        width: 107px;
    }
    .contact-area h6 {
        font-size: 12.4px;
    }
    .contact-area h1 {
        font-size: 21px;
    }


}
@media (max-width: 360px){
    .banner-content p {
        font-size: 12px;
        margin-bottom: 16px;
    }
    .banner-content h1 {
        font-size: 35px;
        margin-bottom: 15px !important;
    }
    .banner-area img {
        height: 350px;
    }
    .about-content {
        margin-top: 5px;
    }
    .prisign h6 {
        width: 83%;
        margin: auto;
        font-size: 12.6px;
        margin-bottom: 28px;
    }
    .prisign h1 {
        font-size: 22px;
    }
    .prisgn-item h5 {
        padding: 12px 0 !important;
    }
    .clint-item p {
        width: 90%;
    }
    .clint-item img {
        width: 90px;
    }
    .footer p {
        margin: 0;
        font-size: 12px;
    }
}